body {
	background-color: #fff;
	color: #333;
	font: 16px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
	word-wrap: break-word;
	line-height: 1.6;
	padding: 0 20px 20px 20px;
	width: 722px;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p, blockquote, ul, ol, dl, table, pre {
	margin: 15px 0;
}

ul, ol {
	padding-left: 30px;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

h2 {
	border-bottom: 1px solid #eee;
	color: #000;
	padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.0em;
}

h6 {
	color: #777;
	font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 1em 0 15px 0;
}

h1 + p, h2 + p, h3 + p {
	margin-top: 10px;
}
	
pre code {
	background-color: #f8f8f8;
	border-radius: 3px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 14px;
	line-height: 1.4em;
	margin: 0 2px;
    padding: 16px;
	white-space: pre;
	display: block;
}

code {
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    white-space: pre;
}

table {
    display: table;
    width: 100%;
    overflow: auto;
    word-break: normal;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table th, table td {
    padding: 6px;
    border: 1px solid #ddd;
    display: table-cell;
}

table th {
    font-weight: bold;
}